/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6pfjtqLzI2JPCgQBnw7HFQaioq1A.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F62fjtqLzI2JPCgQBnw7HFowA.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6pfjtqLzI2JPCgQBnw7HFQMisq1A.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6pfjtqLzI2JPCgQBnw7HFQei0q1A.otf) format('opentype');
}
h1,
h2,
h3 {
  font-size: 2.5rem;
  color: #ffffff;
}
body {
  background-color: #232222;
}
p {
  color: #ffffff;
}
#home {
  height: 90vh;
  width: 100%;
}
header nav {
  width: 100%;
  background-color: #ffab00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  justify-content: space-evenly;
  font-size: 1.6rem;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}
header nav a:hover {
  color: #232222;
}
header .logo {
  background-color: #ffab00;
  display: flex;
  justify-content: flex-start;
  padding: 2%;
  margin-left: 5%;
  color: #ffffff;
}
.links {
  background-color: #ffab00;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-links {
  background-color: #ffab00;
  margin-top: 3%;
  padding: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-links a {
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
#footer-links a:hover {
  color: #232222;
}
.middle-images {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 20%;
}
.middle-images div img {
  width: 200px;
  margin-bottom: 5%;
}
.middle-images h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  color: #ffab00;
}
.middle-images p {
  margin-top: 16px;
  width: 200px;
}
.section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.section-cards p {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 10%;
  width: 300px;
  line-height: 1.25;
}
.section-cards h2 {
  color: #ffffff;
  margin-bottom: 5%;
}
.section-cards img {
  width: 300px;
  margin-bottom: 10%;
  border-radius: 2px;
}
.section-cards button {
  width: 150px;
  height: 40px;
}
#cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}
button {
  background-color: #ffab00;
  width: 300px;
  height: 46px;
  border-radius: 8px;
  font-size: 2rem;
}
button:hover {
  background-color: #232222;
  border: 1px solid #ffab00;
  color: #ffab00;
  padding: 4px;
}
.top-section {
  background-image: url(/images/emily-sea-coiWR0gT8Cw-unsplash.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 900px;
}
.cta {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 80%;
  margin-right: 10%;
  padding-right: 5%;
}
.cta h2 {
  font-size: 6rem;
  margin-top: 50%;
}
.cta p {
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 10%;
}
