/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
main,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6pfjtqLzI2JPCgQBnw7HFQaioq1A.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F62fjtqLzI2JPCgQBnw7HFowA.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6pfjtqLzI2JPCgQBnw7HFQMisq1A.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'), url(https://fonts.gstatic.com/s/notosansjp/v25/-F6pfjtqLzI2JPCgQBnw7HFQei0q1A.otf) format('opentype');
}
h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
}
body {
  background-color: #232222;
}
p {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
}
a {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}
#home {
  height: 30vh;
  width: 100%;
}
@media (max-width:500px) {
  #home {
    height: 20vh;
  }
}
header nav {
  width: 100%;
  position: relative;
  background-color: #ffab00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  justify-content: space-evenly;
  font-size: 1.6rem;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}
header nav a:hover {
  color: #232222;
}
@media (max-width:500px) {
  header nav a {
    margin: auto;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 8px;
  }
}
@media (max-width:500px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
  }
}
header .logo {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
  margin-left: 5%;
  color: #ffffff;
}
@media (max-width:500px) {
  header {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
}
.links {
  background-color: #ffab00;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer-links {
  background-color: #ffab00;
  margin-top: 3%;
  padding: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
@media (max-width:500px) {
  #footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
  }
  #footer-links a {
    justify-content: space-evenly;
    font-size: 1.6rem;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
  }
  #footer-links a:visited {
    color: #232222;
  }
  #footer-links a:hover {
    color: #232222;
  }
}
@media (max-width:500px) and (max-width:500px) {
  #footer-links a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    margin-top: 8px;
    font-size: 1.6rem;
  }
}
.middle-images {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  align-content: center;
  margin-bottom: 5%;
  margin-top: 10%;
  margin-left: 3%;
  padding-right: 10%;
}
@media (max-width:500px) {
  .middle-images {
    width: 400px;
    margin-top: 60%;
    padding-top: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.middle-images div {
  width: 300px;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width:500px) {
  .middle-images div {
    margin-left: 15%;
    width: 100%;
  }
}
.middle-images div img {
  width: 200px;
  height: 300px;
  margin-bottom: 5%;
  margin-top: 30%;
  padding-top: 20%;
}
@media (max-width:500px) {
  .middle-images div img {
    width: 250px;
    display: flex;
    justify-content: center;
    margin-left: 3%;
  }
}
.middle-images h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 4px;
  color: #ffab00;
}
@media (max-width:500px) {
  .middle-images h2 {
    width: 500px;
    margin-bottom: 16px;
    padding-bottom: 4px;
  }
}
.middle-images p {
  margin-top: 16px;
  width: 300px;
}
@media (max-width:500px) {
  .middle-images p {
    width: 400px;
    margin-bottom: 5%;
    padding-bottom: 1%;
  }
}
.section-divider {
  width: 95%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media (max-width:500px) {
  .section-divider {
    width: 250px;
    margin-top: 10%;
    padding-bottom: 1%;
    padding-top: 3%;
  }
}
.section-divider h2 {
  color: #ffab00;
  font-size: 4.8rem;
  margin-left: 24px;
  margin-right: 24px;
  text-decoration: underline;
}
@media (max-width:500px) {
  .section-divider h2 {
    font-size: 3.6rem;
  }
}
.section-divider p {
  font-size: 3.2rem;
}
@media (max-width:500px) {
  .section-divider p {
    font-size: 2.8rem;
  }
}
@media (max-width:500px) {
  .section-divider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20%;
  }
}
.section-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}
@media (max-width:500px) {
  .section-cards {
    width: 300px;
    align-items: center;
    margin-left: 22%;
    margin-top: 0;
  }
}
.section-cards p {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 10%;
  width: 300px;
  line-height: 1.5;
}
@media (max-width:500px) {
  .section-cards p {
    margin-bottom: 5%;
  }
}
.section-cards h2 {
  color: #ffab00;
  font-family: "Lato", sans-serif;
  margin-bottom: 8%;
  text-align: left;
}
@media (max-width:500px) {
  .section-cards h2 {
    margin-bottom: 3%;
    text-align: left;
  }
}
.section-cards img {
  width: 300px;
  margin-bottom: 10%;
  border-radius: 2px;
}
@media (max-width:500px) {
  .section-cards img {
    margin-top: 5%;
    padding-top: 5%;
  }
}
.section-cards button {
  width: 200px;
  height: 40px;
}
@media (max-width:500px) {
  .section-cards button {
    margin-top: 5%;
    margin-bottom: 17%;
  }
}
#cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-right: 5%;
}
@media (max-width:500px) {
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#team1 {
  max-width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-right: 5%;
}
@media (max-width:500px) {
  #team1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
  }
}
#team1 div {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width:500px) {
  #team1 div {
    padding-top: 3%;
  }
}
#team1 img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}
@media (max-width:500px) {
  #team1 img {
    width: 200px;
  }
}
#team1 h2 {
  font-family: "Lato", sans-serif;
  margin-top: 8px;
}
#team1 h3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-top: 8px;
}
#team2 {
  max-width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-right: 3%;
}
@media (max-width:500px) {
  #team2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
  }
}
#team2 div {
  margin-left: 16px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width:500px) {
  #team2 div {
    padding-top: 3%;
  }
}
#team2 img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
}
@media (max-width:500px) {
  #team2 img {
    width: 200px;
  }
}
#team2 h2 {
  font-family: "Lato", sans-serif;
  margin-top: 8px;
}
#team2 h3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-top: 8px;
}
#about h1 {
  font-family: "Lato", sans-serif;
  font-size: 4.8rem;
  text-align: center;
  margin-top: 36px;
}
@media (max-width:500px) {
  #team2 .member4 {
    margin-left: 3%;
  }
}
#team2 .member5 {
  margin-left: 16px;
  padding-left: 8px;
}
@media (max-width:500px) {
  #team2 .member5 {
    margin-left: 8%;
  }
}
#team2 .member6 {
  margin-left: 2px;
  margin-right: 16px;
  padding-left: 2px;
}
@media (max-width:500px) {
  #team2 .member6 {
    margin-left: 8%;
  }
}
button {
  background-color: #ffab00;
  width: 200px;
  height: 48px;
  border-radius: 8px;
  font-size: 2rem;
}
button:hover {
  background-color: #232222;
  border: 1px solid #ffab00;
  color: #ffab00;
  padding: 4px;
}
@media (max-width:500px) {
  button {
    width: 250px;
    height: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero {
  background-repeat: no-repeat;
  height: 450px;
  width: 450px;
  background-size: 100%;
  margin-left: 12%;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .hero {
    height: 300px;
    width: 300px;
    margin-top: 5%;
    margin-left: 7%;
  }
}
.hero img {
  margin-left: 15%;
  border-radius: 4px;
}
@media (max-width:500px) {
  .hero img {
    margin-left: 8%;
  }
}
.hero {
  width: 90%;
  margin-left: 15%;
}
@media (max-width:500px) {
  .hero {
    width: 100%;
    display: block;
    margin-left: 5%;
    margin-right: 10%;
    height: 300px;
    width: 375px;
  }
}
.cta {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 7%;
  margin-right: 25%;
  padding-right: 15%;
}
@media (max-width:500px) {
  .cta {
    width: 400px;
    margin-left: 5%;
    padding-top: 16px;
    margin-top: 16px;
  }
}
.cta h2 {
  font-size: 4rem;
  margin-top: 20%;
  padding-top: 10%;
  padding-left: 15%;
  color: #ffab00;
}
@media (max-width:500px) {
  .cta h2 {
    width: 400px;
    font-size: 3rem;
    text-align: center;
    color: #ffab00;
    margin-top: 16px;
    margin-bottom: 10px;
    padding-top: 5%;
    padding-left: 30%;
  }
}
.cta p {
  width: 450px;
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 40px;
  margin-left: 9%;
  padding-left: 12%;
}
@media (max-width:500px) {
  .cta p {
    width: 350px;
    font-size: 2rem;
    margin-left: 5%;
    margin-left: 25%;
  }
}
.cta button {
  padding-left: 0;
  width: 200px;
  height: 48px;
}
@media (max-width:500px) {
  .cta button {
    margin-left: 35%;
    width: 200px;
  }
}
