button {
  .button-class();

  @media @mobile {
    width: 250px;
    height: 44px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// .top-section {
.hero {
  background-repeat: no-repeat;
  height: 450px;
  width: 450px;
  background-size: 100%;
  margin-left: 10%;
  display: flex;
  justify-content: center;

  @media @mobile {
    height: 300px;
    width: 300px;
    margin-top: 5%;
    margin-left: 7%;
  } //close media

  img {
    margin-left: 7%;
    border-radius: 4px;
    @media @mobile {
      margin-left: 8%;
    }
  }
}

.hero {
  width: 90%;
  margin-left: 15%;

  @media @mobile {
    width: 100%;
    display: block;
    margin-left: 5%;
    margin-right: 10%;
    height: 300px;
    width: 375px;
  } //close media
} //close

.cta {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 25%;
  padding-right: 15%;

  @media @mobile {
    width: 400px;
    margin-left: 5%;
    padding-top: 16px;
    margin-top: 16px;
  }

  h2 {
    font-size: 4rem;
    margin-top: 20%;
    padding-top: 10%;
    padding-left: 15%;
    color: @accent-color;

    @media @mobile {
      width: 400px;
      font-size: 3rem;
      text-align: center;
      color: @accent-color;
      margin-top: 16px;
      margin-bottom: 10px;
      padding-top: 5%;
      padding-left: 30%;
    }
  } //close h2

  p {
    width: 450px;
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 40px;
    margin-left: 9%;
    padding-left: 12%;

    @media @mobile {
      width: 350px;
      font-size: 2rem;
      margin-left: 5%;
      margin-left: 25%;
    }
  } //close p

  button {
    padding-left: 0;
    width: 200px;
    height: 48px;
    @media @mobile {
      margin-left: 35%;
      width: 200px;
    }
  }
} //close cta
