#home {
  height: 90vh;
  width: 100%;
} //close home

header {
  nav {
    width: 100%;
    position: relative;
    background-color: @accent-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      justify-content: space-evenly;
      font-size: 1.6rem;
      text-decoration: none;
      color: @white;
      letter-spacing: 1px;
      font-family: "Lato", sans-serif;

      &:hover {
        color: @brand-black;
      } //close hover

      @media @mobile {
        margin: auto;
        padding-right: 4px;
        padding-left: 4px;
        padding-bottom: 8px;
      }
    } //close a
    @media @mobile {
      .flex-it(column, space-between);
      padding-bottom: 8px;
    } //close media
  } //close nav
  .logo {
    background-color: @accent-color;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    margin-left: 5%;
    color: @white;
  } //close .logo

  @media @mobile {
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
} //close header

.links {
  background-color: @accent-color;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} //close .links

#footer-links {
  background-color: @accent-color;
  margin-top: 3%;
  padding: 4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  a {
    color: @white;
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    text-decoration: none;

    &:hover {
      color: @brand-black;
    } //closes hover
    @media @mobile {
      .flex-it(column, space-between);
      align-content: space-between;
      margin-top: 8px;
      font-size: 1.6rem;
    }
  } //closes a
  @media @mobile {
    .flex-it(column, space-evenly);
    align-content: space-around;
  }
} //close footerlinks
